a{
    font-size: 30px;
}
.container1{
    display: grid;
    grid-template-columns: 20% 20%  20% 20%  ;
    grid-template-rows: 100px 100px 100px   ;
    grid-gap: 20px;
    background-color: lightcyan;
    justify-content: center;
}
.container1>div{
    background: lightsalmon;
    text-align: center;
}
.container1>div.item1{
    /* grid-column: 1/3;
    grid-row: 1/3; */
    grid-area: 1/1/3/3;
}


.container2{
    display: grid;
    grid-template-columns: 170px 170px  170px 170px 170px ;
    grid-template-rows: 250px 250px    ;
    grid-gap: 20px;
    background-color: lightcyan;
    justify-content: center;
    
}
.container2>div{
    background: lightsalmon;
    text-align: center;
}

.container3{
    display: grid;
    grid-template-columns: 170px 170px  170px 170px 170px ;
    grid-template-rows: 170px 170px 170px   ;
    grid-gap: 50px;
    background-color: lightcyan;
    justify-content: space-between;
    
}

.container3>div{
    background: lightsalmon;
    text-align: center;
}

.container4{
    display: grid;
    grid-template-columns: 100%;
  
    grid-gap: 2px;
    background-color: lightcyan;
    justify-content: center;
    
}
.container4>div{
    background: lightsalmon;
    text-align: center;
}